body{
    background-color: black;
}
button{
    padding:20px;
}
#clickButton{
    border-radius: 10px 10px 10px 10px;
    padding: 30px 70px 30px 70px;
    font-size: 20px;
}

#main{
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    background-color: yellow;
    display:flex;
}

#mainButtons{
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    background-color: aqua;
}

#clickButtonLocation{
    border:2px solid black;
    padding: 10px;
    margin: 10px;
    background-color: bisque;
    text-align: center;
}

#incomeButtons{
    border:2px solid black;
    padding: 10px;
    margin: 10px;
    background-color: blueviolet;
}

#stats{
    border:2px solid black;
    padding: 5px;
    margin: 10px;
    background-color: brown;
    display:flex;
    font-size:30px;
    padding:5px;
    margin:10px;
}

.displayMoney{
    flex:2;
    order:3;
}

.goldPerSecond{
    flex:2;
    order:1;
}

.goldPerClick{
    flex:2;
    order:2;
}

.miners{
    flex:2;
    order:4;
}

.tools{
    flex:1;
    order:5;
}

#moneyError{
    border:2px solid black;
    padding: 10px;
    margin: 10px;
    background-color: red;
    height: 50px;
    width:10%   
}

#upgradeSection{
    border:2px solid black;
    padding: 10px;
    margin: 10px;
    background-color: green;
    height:10px;
}