body{
    background-color: black;
}
button{
    padding:10px;
}
#clickButton{
    border-radius: 10px 10px 10px 10px;
    padding: 30px 70px 30px 70px;
    font-size: 20px;
}

#main{
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    background-color: yellow;
}

#mainButtons{
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    background-color: aqua;
}

#clickButtonLocation{
    border:2px solid black;
    padding: 10px;
    margin: 10px;
    background-color: bisque;
    text-align: center;
}

#incomeButtons{
    border:2px solid black;
    padding: 10px;
    margin: 10px;
    background-color: blueviolet;
}

#stats{
    border:2px solid black;
    padding: 5px;
    margin: 10px;
    background-color: brown;
}

#moneyError{
    border:2px solid black;
    padding: 10px;
    margin: 10px;
    background-color: red;
    height: 50px;
    width:10%   
}

#upgradeSection{
    border:2px solid black;
    padding: 10px;
    margin: 10px;
    background-color: green;
    height:10px;
}